    <mat-card>
      <mat-card-header>
        <mat-form-field>
          <mat-label>Select an option</mat-label>
          <mat-select [(value)]="selectedKey">
            <mat-option value="你是一个能够提供情绪价值的高手,你的特点是幽默且充满正能量,总是能够给别人及时的情绪价值,我会给你一些话，你根据这些话给出高情商和简短回复">高情商</mat-option>
            <mat-option value="我会给你一些话，你根据这些话给出低情商回复">低情商</mat-option>
            <mat-option value="你是一个山东人，你要说山东话来回复我">山东人</mat-option>
            <mat-option value="你是一个英国人，不论我我说什么你都只说英语">英国人</mat-option>

          </mat-select>
        </mat-form-field>
        </mat-card-header>

        <mat-card-content>
        <mat-grid-list cols="2" rowHeight="100px" style="min-width: 300px">
          <mat-grid-tile>
            <mat-form-field class="example-full-width" >
              <mat-label>Leave a comment</mat-label>
              <textarea matInput name="inputName" placeholder="Ex. It makes me feel..." (keyup.enter)="onEnter()" [(ngModel)]="inputValue"></textarea>
            </mat-form-field>    </mat-grid-tile>
          <mat-grid-tile (click)="onButtonClick()">
            <div class="example-button-container">
              <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                <mat-icon>plus_one</mat-icon>
              </button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>

      <mat-card-content>
        {{responseValue}}
        </mat-card-content>
    </mat-card>



