<form class="example-form">


    <mat-card>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput name="inputName" placeholder="Ex. It makes me feel..." (keyup.enter)="onEnter()" [(ngModel)]="inputValue"></textarea>
            </mat-form-field>    </mat-grid-tile>
          <mat-grid-tile (click)="onButtonClick()">
            <div class="example-button-container">
              <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                <mat-icon>plus_one</mat-icon>
              </button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>

      <mat-card-content>
        {{responseValue}}
        </mat-card-content>
    </mat-card>



</form>
